<ion-view title="Plant" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="plant-heading2" style="color:#000000;" class=" ">terraforma</h1>
        <div>
            <div class="MAP">MAP</div>
        </div>
        <a ui-sref="succeed" id="plant-button4" class=" button button-positive  button-block ">Plant HERE</a>
    </ion-content>
</ion-view>