<ion-view title="Share" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="share-heading6" style="color:#000000;" class=" ">terraforma</h1>
        <div>
            <div class="MAP">MAP</div>
        </div>
        <h2 id="share-heading7" style="color:#000000;" class=" ">Planting Succeed</h2>
        <p id="share-markdown8" style="color:#000000;" class=" ">Sharing</p>
    </ion-content>
</ion-view>