<ion-view title="succeed" id="page3" style="background-color:#FFFFFF;" class=" ">
<style>
#map, .covermap, .covermap2, #terraforma-button35, .succeed, .success  {
    display: block;
}

 #terraforma-button33, #terraforma-button34, .pointer {
    display: none;
}

.pointer2 {
    display: block;
}


</style>
    <ion-content padding="false" style="background: url(img/tVyJB0rpQ1yRs41PtGyg_background.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false" >
        <div class="logo">
            <img src="img/VIbnD6CCT7OVxGmVf4k5_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

    </ion-content>
</ion-view>
