<ion-view title="Terraforma" id="page1" style="background-color:#FFFFFF;" class=" ">
<style>
#map, .covermap, .covermap2, #terraforma-button33, #terraforma-button34, #terraforma-button35, .success, .pointer {
    display: none;
}
</style>
    <ion-content padding="false" style="background: url(img/tVyJB0rpQ1yRs41PtGyg_background.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="logodebut">
            <img src="img/VIbnD6CCT7OVxGmVf4k5_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <H6>_PLANT_SEEDS /</H6>
        <H2>HERE YOU ARE ...</H2>
        <div class="border"></div>
        <p id="terraforma-markdown6" style="color:#FFFFFF;" class=" ">WE'VE BEEN WAITING FOR YOU.</br> ARE YOU READY FOR YOUR MISSION?</p>
        <H5> ./ PLANT_SEEDS</H5>
        <a ui-sref="tracking" id="terraforma-button3" class=" button">I'M READY ></a>
    </ion-content>
</ion-view>