<ion-view title="Tracking" id="page2" style="background-color:#FFFFFF;" class=" ">
<style>
#map, .covermap, .covermap2, #terraforma-button33, #terraforma-button34, .pointer{
    display: block;
}

.pointer2, .success, #terraforma-button35{
  display: none;
}

@keyframes covermap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.covermap, .covermap2 {
      animation: covermap 0.6s;
      opacity: 0;
     animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;

} 
</style>
    <ion-content padding="false" style="background: url(img/tVyJB0rpQ1yRs41PtGyg_background.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false" >
        <div class="logo">
            <img src="img/VIbnD6CCT7OVxGmVf4k5_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>

    </ion-content>
</ion-view>

